    // Sidebar
    .sidebar#sidebar
      a(href="#") Graphs
      a(href="#") Costs
      a(href="#") Suppliers
      a(href="#") Customers

    // Chatbox
    .chatbox
      strong Chat
      input(type="text" placeholder="Type message...")
      button Send

    // Cards
    .cards
      .card
        h2 Cash Sales
        p $12,000
      .card.big
        h2 Total Sales
        p $25,000
      .card
        h2 Credit Sales
        p $13,000

    // Footer h3
    h3.footer-text Home to all your comforts!